<h1>{{ section.settings.store_name }}</h1>


{% schema %}
{
  "name": "Testing Section",
  "settings": [
    {
      "type": "text",
      "id": "store_name",
      "label": "Store Name",
      "default": "Store Name"
    }
  ]
}
{% endschema %}